<H3 >
  Employee Form</H3>

<div *ngIf="mainTableresponse">
<div *ngIf="this.response" >
    <table border="1">
      <thead>
          <tr>
               <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Salary</th>
            <th>Action</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let character of this.response">
          <td>
            <font color="brown">{{ character.id }}</font></td>
          <td><font color="brown">{{ character.name }}</font></td>
          <td><font color="brown">{{ character.address }}</font></td>
          <td><font color="brown">{{ character.salary }}</font></td>
          <td><button (click)="deleteRecord(character.id )">Delete</button>
            <button (click)="editRecord(character)">Edit</button>
        </tr>
      </tbody>
    </table>
  
</div>

</div>
<div *ngIf="deleteResponse">
  <p>Record deleted successfully!!</p>
</div>
<div *ngIf="editResponse">
  <p>Record with Id {{employeeid}} editted successfully!!</p>

</div>

<div *ngIf="editFormDiv" class="container">
  <p>Please enter below details to edit Employee with Id {{employeeid}}:</p>
  <form (ngSubmit)="editEmployee(employeeid)">
    
  
  Name:<input type="text" [(ngModel)]="employee.name" name="name" > <br/>
  Address:<input type="text" [(ngModel)]="employee.address" name="address"> <br/>
  Salary:<input type="text" [(ngModel)]="employee.salary" name="salary"> <br/>
<br/>
  <button type="submit">Update</button>
  </form>
</div>

<div *ngIf="addLinkFlag">
  <br/>
  <br/>
  <a [routerLink]="['/addEmployee']">Add Employee</a>
</div>
