<div >
  <H3>Name: {{user.name}}</H3>
  <H3>Gender: {{user.gender}}</H3>
  <H3>Date Of Birth: {{user.dob}}</H3>
  
  <button *ngIf="IsCollapsed" (click)="toggleCollapse()">Hide Details</button>
  <button *ngIf="!IsCollapsed"  (click)="toggleCollapse()">Show Details</button>
  <div *ngIf="IsCollapsed">
  <H3>Address: {{user.address}}</H3>
  <div *ngIf="user.mobile.length>0">
  <H3>Phone:</H3>  <p *ngFor="let phn of user.mobile">{{phn}}</p>
  </div>
  </div>
</div>

<div>
  <!--<input type="text" [(ngModel)]="username">-->
  
  <button (click)="search()">Get Users</button>
  <div *ngIf="response">

   <!-- <H3>LOGIN: {{response.login}}</H3>
    <H3>ID: {{response.id}}</H3>
    <H3>GISTS_URL: {{response.gists_url}}</H3>-->
     
  </div>
  
      <div *ngIf="response">
          <table >
            <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Salary</th>
                  <th>Action</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let character of this.response">
                <td>{{ character.id }}</td>
                <td>{{ character.name }}</td>
                <td>{{ character.address }}</td>
                <td>{{ character.salary }}</td>
                <td><button (click)="deleteRecord(character.id )">Delete</button>
                  <button (click)="editRecord(character.id )">Edit</button></td>
              </tr>
            </tbody>
          </table>
        
  </div>

</div>
<div>
<button (click)="add()">Add Employee</button>
</div>
<div *ngIf="showAddButtonDetails">
  <p>Please enter below details:</p>
  <form (ngSubmit)="addEmployee()">
    
  Id:<input type="text" [(ngModel)]="employee.id" name="id"> <br/>
  Name:<input type="text" [(ngModel)]="employee.name" name="name"> <br/>
  Address:<input type="text" [(ngModel)]="employee.address" name="address"> <br/>
  Salary:<input type="text" [(ngModel)]="employee.salary" name="salary"> <br/>

  <button type="submit">Submit</button>
  </form>
</div>

<div *ngIf="showEditButtonDetails">
    <p>Please enter below details:</p>
    <form (ngSubmit)="addEmployee()">
      
    Id:<input type="text" [(ngModel)]="employee.id" name="id"> <br/>
    Name:<input type="text" [(ngModel)]="employee.name" name="name"> <br/>
    Address:<input type="text" [(ngModel)]="employee.address" name="address"> <br/>
    Salary:<input type="text" [(ngModel)]="employee.salary" name="salary"> <br/>
  
    <button type="submit">Submit</button>
    </form>
  </div>