<!--The content below is only a placeholder and can be replaced.

<a routerLink='settings'>Settings</a>

<div style="text-align:left">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <input type="text" [(ngModel)]="params">
  {{params}}
<app-first></app-first>
<a routerLink='home'>Add User</a>-->
<router-outlet></router-outlet>

<!--<p><a routerLink='get'>Get Employees</a></p>
<p><a routerLink='add'>Add Employee</a></p>-->

<!--<app-get-employee></app-get-employee>-->
<!--<app-user-details name="Kanav"></app-user-details>-->
